body{
    width:100%;
    height: 100%;
  background-image: url('https://images.unsplash.com/photo-1519669417670-68775a50919c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
    background-size: cover;
    background-repeat:none;
    position: fixed;
}

#info p{
    text-align: center;
    color: white;
    padding-top: 70px;
}

h1{
    position: absolute;
    color: white;
    font-family: fantasy;
    text-align: center;
    margin-left: 35%;
    position: fixed;
   
}
form{
    border:2px solid black;
    border-radius: 12px;
    padding:30px;
    width: 250px;
    margin-top: 100px;
    margin-left: 37%;
    background-color: white;
     position: fixed;
    
}
 
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
